@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #f7856b 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #f7856b 99.55%);
  --color-bgMain: #040C18;
  --color-bg1 : #031B34;
  --color-bg2: #042c54;
  --color-primary-text: #81AFDD;
  --color-secondary-text: #add8e6;
  --bgcolor-cta: #f7856b;
  --white: #ffffff;
}