.lms__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 2rem 6rem;
  transition: all 0.2s ease;
}
.lms__navbar.gradient__bg {
  background: var(--color-bg1);
}

.lms__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lms__navbar-links_logo {
  margin-right: 3rem;
}
/* .lms__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
} */
.lms__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.lms__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lms__navbar-links_container p,
.lms__navbar-sign p,
.lms__navbar-menu_container p {
  color: var(--color-secondary-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  display: block;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.25s ease;
}
.lms__navbar-links_container p:hover,
.lms__navbar-sign p:hover,
.lms__navbar-menu_container p:hover {
  color: var(--white);
  transform: translateY(-3px) translateX(3px);
}
.lms__navbar-links_container p:hover:after,
.lms__navbar-sign p:hover:after,
.lms__navbar-menu_container p:hover:after {
  width: 100%;
}
.lms__navbar-sign button {
  padding: 0.5rem 1rem;
  color: var(--white);
  background: var(--bgcolor-cta);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.lms__navbar-sign button:hover {
  background: var(--white);
  color: var(--bgcolor-cta);
}

.lms__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.lms__navbar-menu svg {
  cursor: pointer;
}
.lms__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-bg1);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.lms__navbar-menu_container p {
  margin: 1rem 0;
}
.lms__navbar-menu_container-links-sign {
  display: none;
}
.logo {
  font-size: 2.5rem;
  color: var(--color-primary-text);
  font-weight: 700;
}
@media screen and (max-width: 1050px) {
  .lms__navbar-links_container {
    display: none;
  }

  .lms__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .lms__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .lms__navbar {
    top: -0.5px;
    padding: 2rem;
  }

  .lms__navbar-sign {
    display: none;
  }

  .lms__navbar-menu_container {
    top: 20px;
  }

  .lms__navbar-menu_container-links-sign {
    display: block;
  }
}
